## Tranformação de variáveis : LabelEncoder e OneHotEncoder

Assim como na estatística, as informações na área da ciência de dados podem ser divididas em duas classes: Núméricos e Categóricos.
Em cada uma das classes existem subdivisões atreladas ao sentido de suas informações. A classe numérica se divide em dados dicretos(números inteiros) e contínuos(números reais), por sua vez, a classe categórica se divide em dados ordinais e nominais.

<img src="img/dados.png" width=580 height=500 />


Ao utilizarmos algoritimos de machine learning, devemos nos atentar para os tipos de dados das variaveis preditivas e classificatorias e assegurar a tranformação dessas variáreis para o tipo numperico, para isso a bilioteca sklearning consta com dois métodos

In [14]:
import pandas as pd
data = {'Empregador':['Corpo de Bombeiros', 'Secretaria de Saúde', 'Polícia Civil', 'Secretaria de Saúde', 'Polícia Civil'],
       'Idade': [44,34,46,35,23], 'Remuneração':[72000,65000,98000,45000,34000]}
df = pd.DataFrame(data)
df

            Empregador  Idade  Remuneração
0   Corpo de Bombeiros     44        72000
1  Secretaria de Saúde     34        65000
2        Polícia Civil     46        98000
3  Secretaria de Saúde     35        45000
4        Polícia Civil     23        34000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Empregador   5 non-null      int32
 1   Idade        5 non-null      int64
 2   Remuneração  5 non-null      int64
dtypes: int32(1), int64(2)
memory usage: 228.0 bytes

In [16]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

df['Empregador'] = label_encoder.fit_transform(df['Empregador'])
print(df)

   Empregador  Idade  Remuneração
0           0     44        72000
1           2     34        65000
2           1     46        98000
3           2     35        45000
4           1     23        34000

In [20]:
from sklearn.preprocessing import OneHotEncoder

onehotencoder = OneHotEncoder()

#remodela a matriz de 1-D para 2_D, ja que fit_transform espera 2_D e posteriormente ajusta o objeto
x = onehotencoder.fit_transform(df.Empregador.values.reshape(-1,1)).toarray()
x

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [24]:
# para adicionar de volta no dataframe original
dfOneHot = pd.DataFrame(x, columns = ['Empregador_'+str(int(i)) for i in range(df.shape[1])])
df = pd.concat([df, dfOneHot], axis=1)

# dropando a coluna original
df = df.drop(["Empregador"], axis=1)

print(df)

   Idade  Remuneração  Empregador_0  Empregador_1  Empregador_2
0     44        72000           1.0           0.0           0.0
1     34        65000           0.0           0.0           1.0
2     46        98000           0.0           1.0           0.0
3     35        45000           0.0           0.0           1.0
4     23        34000           0.0           1.0           0.0